body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    background-image: url(../images/Backgroud.png);
}

article {
    background-color: #ffffff;;
    border: 1px solid #dddddd;
}

nav {
    background-color: #ffffff;
    border-bottom: 2px solid #dddddd;
}

.b_color {
    background-color: #4aaaa5;
}

.b_text {
    color: #4aaaa5;
}

h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}
h2 {
    border-bottom: 2px solid #cccccc;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.u_name{
    margin-left: 150px;
    margin-top: -10px;
    margin-bottom: -10px;
}

.btn {
    border-radius: 0px;
    margin-left: -20px;
}

.r_mar {
    margin-right: -40px;
}

footer{
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    font-size: x-small;
    color: gray;
}

.s_btn {
    margin-left: 10px;
}

.nav-link {
    padding: 0px;
}

ul {
    margin-right: 150px;
}